transformers==4.49.0
accelerate
datasets
einops
opencv-python
torchdata >= 0.8.0
tomli >= 1.1.0 ; python_version < "3.11"
tensorboard
tiktoken
blobfile
tabulate
wandb
requests
pillow
fuzzywuzzy
word2number